{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="col-md-12">
	<h1 class="page-title">个人简介</h1>
	<article class="post">
		<div class="entry-content clearfix">
			<figure class="img-responsive-center">
				<img class="img-responsive" src="{% static 'blog/image/me.jpg' %}" alt="Developer Image">
			</figure>
			<p>人生苦短，我用Python。</p>
			<p id="fight" style="display: none;">Python自学者，Django学习中...</p>
			<button id="surprise" class="btn btn-default btn-xs">surprise</button>
			<em id="heart-sound" style="display: none;">转行，挣钱...</em>
			<div class="height-40px"></div>
			<h2 class="title text-center">社交</h2>
			<ul class="social">
				<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
				<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
				<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
				<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
			</ul>
		</div>
	</article>
</main>
{% endblock %}
